# Python Package
pip>=20.0.0

# Backends
numpy>=1.15.0
torch>=1.3.1

# Tokenizer
konlpy
nltk
spacy==2.1.8
https://github.com/explosion/spacy-models/releases/download/en_core_web_sm-2.1.0/en_core_web_sm-2.1.0.tar.gz

# BERT
transformers==2.11.0

# WikiSQL
babel
records

# Utils
h5py
jsbeautifier
msgpack
overrides
requests
gensim
tqdm
tensorboardX
PyYAML==5.4

# Test, CI
pytest>=3.6
pytest-cov

# Metrics
pycm
seqeval
scikit-learn
